<div class="">
    <header class="d-flex bg-dark flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
          <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
          </a>
        </div>
  
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="/dashboard" class="nav-link px-2 link-secondary">Dashboard</a></li>
          <li><a routerLink="/employee" class="nav-link px-2">employee</a></li>
          <li><a routerLink="/projects" class="nav-link px-2">projects</a></li>
          <li><a routerLink="/project-employee" class="nav-link px-2">project-employee</a></li> 
        </ul>
  
        <div class="col-md-3 text-end"> 
          <button type="button" class="btn btn-primary" (click)="logooff()">Logoff</button>
        </div>
      </header>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>